<div class="contentcontainer">
	<div class="headings alt">
    	<h2>Salas cadastradas</h2>
	</div>
	<div class="contentbox">
		<div>
			<table cellspacing="0">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<% @salas.each do |sala|%>
					<tr class="first">
						<td width="700"><%= sala.nome %></td>
						<td class="tc" width="300">
								<%= link_to 'Detalhes', sala_path(sala, :page => @page),  :title => 'edit', :class => 'button' %>
								<% link_to 'Detalhes (aberto)', show_open_sala_path(sala, :page => @page),  :title => 'edit', :class => 'button' %> 
								<%= link_to 'QR-Code', qrm_details_sala_path(sala),  :title => 'edit', :class => 'button' %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
